*{
    margin: 0;
    padding: 0;
}

.header {
    background-color:lightpink;
    height: 177px;
    font-size: 0.8em;
    margin-left: 0px;
    margin-right: 0px;
    min-width: 900px;
}
.main, .logo, .menubar, .site_content, .footer {
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 400px;
    padding-bottom: 40px;
}

.logo h1, .logo h2 {
    font: italic 300% "Fira Sans", serif;
    margin: 0 0 0 9px;
}

.logo_text h1, .logo_text h1 a, .logo_text h1 a:hover{
    padding: 22px 0 0 0;
    color: #fff;
    letter-spacing: 0.1em;
    text-decoration:none;
    text-transform: uppercase;
}

.logo_text h2{
    font-size: 1.5em;
    padding: 4px 0 0 0;
    color: hotpink;
}

.menubar{
    width: 900px;
    height: 46px;
}

ul.menu {
    float: left;
}

ul.menu li{
    float: left;
    padding: 0 0 0 9px;
    list-style: none;
    margin: 1px 2px 0 0;
}

ul.menu li a{
    font:italic 100% "Fira Sans", serif;
    text-decoration: none;
    display: block;
    height: 10px;
    padding: 15px 35px 25px 48px;
}

ul.menu li.selected a{
    color:#fff;
}

ul.menu li a:hover{
    color: hotpink;
}